body{
 background-image: url("../images/background.jpg");
 background-repeat:no-repeat;
 background-size: 100vw 100vh;
 color:white;
}

audio
{
	display:hidden;
}


#container
{
	height:78vh;
	overflow:hidden;
}
@-webkit-keyframes rise
{
  from {
  	margin-top: 150%;
  }
 
}
@keyframes rise
{
  from {
  	margin-top: 150%;
  }
 
}
body #move
{
	display:block;
	/*margin-top: .5%;*/
	margin-top: 2em;
	margin-left:5em;
	margin-right:70px;
	height:70vh;
 	color: white; 
 	overflow-x:hidden;
	overflow-y: scroll;/*
	@-webkit-keyframes: rise 7s;*/
	animation:rise 7s;
}
body #move .mid
{
	margin:auto;
	height:40vh;
	display:block;

}
body #move .general_pic
{
	height:20vh;
}
body #move #slide
{
	height:30vh;
}
body #navbar 
{
	/*display:none;*/
	margin-top: 2em;
	margin-left: .5em
	
}
#navbar li
{
	font-size: 15px;
	margin-top: 20px;
	color:white;
	display:inline;
	text-decoration: none;
	background-color: gray;
}
#navbar li .fam
{
	
	height:4vh;
	margin-top: 10px;
	margin-left: 0;
}


nav li {
	display: inline;
}
nav a {
	color: white;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	
}

p a
{
	text-decoration: none;
	color:white;
}


video
{    
	width: 24vw; 
    height: 20vh; 

}
@-webkit-keyframes typing 
{ 
	from { 
		width: 0%; } 
}
@keyframes typing 
{ 
	from { 
		width: 0%; } 
}
h1 #type { 
	/*display: none;*/
	display:block;
	font: bold 100% Consolas;
	border-right: .5em solid;
	width: 19ch; 
	margin-top: 3em; 
	margin-left:5em;
	overflow: hidden; 
	animation: typing 2s steps(19, end);       
}
#slide
{
	height:30vh;
}
