body
{
 background-image: url("../images/background.jpg");
 background-repeat:no-repeat;
 background-size: 100vw 100vh;
 color:white;
}

@keyframes rise
{
  from {
  	margin-top: 150%;
  }
 
}
@-webkit-keyframes rise
{
  from {
  	margin-top: 150%;
  }
 
}
#container
{
	max-height:78vh;
	overflow:hidden;
	max-width:90%;
}
#topcontainer
{
	height:1.2vh;
	overflow:hidden;
}
body #move
{
	display:block;
	/*margin-top: .5%;*/
	margin-top: 3em;
	margin-left:6.5em;
	height:70vh;
 	color: white; 
 	overflow-x:hidden;
	overflow-y: scroll;
	-webkit-animation: rise 7s;
	animation:rise 7s;
}

body #move .mid
{
	margin:auto;
	max-height: 50%;
	max-width: 50%;
    height: auto;
    width: auto;
	display:block;

}
body #move .general-pic
{
	max-width: 30%;
	max-height: 20%;
    height: auto;
    width: auto;
}
body #move #slide
{
	max-width: 50%;
    height: auto;
    width: auto;
}


p a
{
	text-decoration: none;
	color:white;
}


video
{    
	max-width: 50%;
    height: auto;
    width: auto;
}

@keyframes typing { from { width: 0%; } }
@-webkit-keyframes typing { from { width: 0%; } }
h1#type { 
	/*display: none;*/
	font: bold 100% "Open Sans", sans-serif;
	border-right: .5em solid;
	width: 18ch; 
	margin-top: 4em; 
	margin-left:5em;
	overflow: hidden;
	-webkit-animation: typing 2s steps(19, end);  
	animation: typing 2s steps(19, end);       
}


