body{

 background-image: url("../images/background.jpg");
 background-repeat:no-repeat;
 background-size: 100vw 100vh;
 color:white;
 
}
body #move
{
	display:none;
	margin-top: .5em;
	margin-left:5em;
	margin-right:90px;
	height:70vh;
 	color: white;
 	overflow-x:hidden;
	overflow-y: scroll;

}
body #move .mid
{
	margin:auto;
	height:30vh;
	display:block;

}
body #move .general
{
	height:20vh;
}
body #move #slide
{
	height:20vh;
}
body #navbar 
{
	display:none;
}
#navbar li
{
	font-size: 15px;
	color:white;
	display:inline;
	text-decoration: none;
	margin-right: .3em;

}
#navbar li a 
{
	text-decoration: none;
	color:white;
}
p a
{
	text-decoration: none;
	color:white;
}
#navbar li .fam
{
	
	height:3vh;
	

}
#card
{
	margin:auto;
	height:30vh;

}
video
{    
	width: 24vw; 
    height: 20vh; 
}
@keyframes typing { from { width: 0%; } }

h1.type { 
	/*
	display: none;*/
	font: bold 100% Consolas;
	/*font: bold 100% Calibri;*//*test for keeping font in mind*/
	border-right: .5em solid;
	width: 19ch; /* # of chars */
	margin-top: 3em; /*so regardless of size of window it'll still fit in the screen*/
	margin-left:5em;
	overflow: hidden;
	animation: typing 2s steps(19, start);/*steps = how many steps it end is the default*/
	           
}